<ion-item *ngIf="showCard">
  <ion-card class="product-card">
    <div class="card-img-wrapper">
      <img [src]="image"
        alt="title" class="product-image"/>
    </div>
    <ion-card-header>
      <ion-card-title>{{ title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>{{ titleCardContent1 }}:</strong> {{textCardContent1 | currency}}</p>
      <p><strong>{{ titleCardContent2 }}:</strong> {{textCardContent2}} {{globalText.units}}</p>
      <p><strong>{{ titleCardContent3 }}:</strong> {{textCardContent3 | date:'dd/MM/yyyy'}}</p>
      <app-button
      [text]="'Agregar al carrito'"
      [class]="'card-button'"
      [showIcon]="true"
      [iconClass]="'fa-solid fa-cart-shopping'"
      >
      </app-button>
    </ion-card-content>
  </ion-card>
</ion-item>