ion-list-header h2 {
    font-size: 1.6em;
    font-weight: bold;
    color: #ffffff;
    padding-left: 16px;
}

.center-content {
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}


ion-list {
    padding: 0;
    margin-top: 20px;
}