<app-header
  [title]="globalText.dashboard"
  [showIcon]="true"
  [iconClass]="'fa-solid fa-cart-shopping'"
>
</app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>{{ globalText.categories }}</h2>
      </ion-label>
    </ion-list-header>
    @for(category of categories; track category.id) {
    <div class="center-content">
      <app-button
        [text]="category.nombre"
        [class]="'category-button'"
        (click)="navegateProducts(category)"
      >
      </app-button>
    </div>
    }
  </ion-list>
</ion-content>