ion-list-header h2 {
    font-size: 1.6em;
    font-weight: bold;
    color: #ffffff;
    padding-left: 16px;
}

ion-item {
    padding: 0;
    margin-bottom: 12px;
}



ion-list {
    padding: 0;
    margin-top: 20px;
}